// ================== importing main.scss ==================
@import 'main.scss';

// ================== fonts =================
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

main {
    background: url('../img/bg_login_smooth.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

// ================== Grid elements =================
.efi3-logo-container {
    padding: 0;
    text-align: right;
}

.efi3-logo {
    width: 160px;
    height: 160px;
    border: 1px solid RGBA(255, 255, 255, 0.3);
    border-radius: 5px;
    display: inline-block;
    margin: 15vh 0;
}

.login-box {
    text-align: center;
    background: $topaz;
    border-radius: 5px;
    max-width: 575px;
    width: 100%;
    min-width: 300px;
    display: inline-block;
    margin: 15vh auto 0 auto;
    padding: 0 10px;

    p {
        font-family: "Roboto Light";
        margin: 0 0 100px 0;
        display: inline-block;
    }
    .login-text {
        text-align: center;
        margin: 30px 0 0 0;
        font-family: "Roboto Light";
        display: block;
    }

    form{
        
        .login-exclamation {
            font-size: 12px;
            color: $silver;
            display: block;
            //visibility: hidden;
        }

        .login-exclamation[data-state = display] {
            visibility: visible;
        }
        .login-exclamation[data-state = hide] {
            visibility: hidden;
        }

        .chosen-login {
            //display: none;
            color: $white;
            font-family: "Roboto";
            height: 35px;
            font-size: 16px;
            padding: 9px 0 9px 0;
            margin: 0;
            vertical-align: middle;
        }

        .chosen-login[data-state = display] {
            display: inline-block;
        }
        .chosen-login[data-state = hide] {
            display: none;
        }

        .clear-login {
            //display: none;
            margin: 9px 0 3px 5px;
            width: 18px;
            height: 18px;
            background: RGBA(255, 255, 255, 0.3);
            border-radius: 50%;
            vertical-align: middle;

            span {
                color: $white;
                font-size: 12px;
                font-family: "Roboto";
                font-weight: bold;
                display: block;
                margin: 0 auto;
            }
        }
        .clear-login:hover {
            cursor: pointer;
        }
        .clear-login[data-state = display] {
            display: inline-block;
        }
        .clear-login[data-state = hide] {
            display: none;
        }
        

        .login, .password {
            width: 100%;
            height: 35px;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            color: black;
            outline: none;
        }

        // .password {
        //     visibility: hidden;
        // }

        .login[data-state = display] {
            display: inline-block;
            border: none;
        }
        .login[data-state = warning] {
            border: 1px solid #F90000;
        }
        .login[data-state = hide] {
            display: none;
        }

        .password[data-state = display] {
            visibility: visible;
            border: none;
        }
        .password[data-state = warning] {
            border: 1px solid #F90000;
        }
        .password[data-state = hide] {
            visibility: hidden;
        }

        .submit, .reset {
            margin-top: 5%;
            text-transform: uppercase;
        }

        .submit {
            cursor: pointer;
            padding: 10px 50px;
            background: $white;
            border: none;
            border-radius: 5px;
            font: 14px "Roboto";
        }
        .reset {
            font: 12px "Roboto Light";
            cursor: pointer;
            background: none;
            border: none;
            color: $white;
            display: inline-block;
            margin-right: 10px;
        }

        fieldset {
            border: 1px solid RGBA(255, 255, 255, 0.3);
            border-radius: 5px;
            margin: 100px 20px 10% 20px;
            padding: 20px;

            .avatar-container {
                background-color: white;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                z-index: 10;
                margin: -70px auto 20px auto;
            }
        }
    }
}

.login-links {
    margin: 5px 0 0 0;
    a {
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        margin: 10px 5px 0 0;
        font-weight: 300;
    }
}


@media screen and (max-width: 575px){
    .efi3-logo-container {
        text-align: center;
    }
    .efi3-logo {
        margin: 10px 0 0 0;
    }
    .login-box {
        margin: 10px 0 0 0;
    }
}