//Vendors
//@import 'vendors/foundation';

// Common
@import 'common/base';
//@import 'common/fonts';
//@import 'common/icons';
//@import 'common/mixins';
//@import 'common/misc';
//@import 'common/typography';
//@import 'common/buttons';
//@import 'common/form-elements';
//@import 'common/list';

html,
body,
span,
p {
    margin: 0;
    padding: 0;
}

/* colors */
$denim: #3b6174;
$topaz: #13bdd2;
$lipstick: #e21a61;
$dark-lime-green: #80c801;
$silver: #dbdede;
$white: #fff;

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');


/* Text styles */

.Text-Style-5 {
    font-family: "Roboto Light";
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.Text-Style-4 {
    font-family: "Roboto Light";
    font-size: 100px;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.Text-Style-3 {
    font-family: "Roboto Light";
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.8;
    letter-spacing: -1.3px;
    text-align: left;
    color: #ffffff;
}
.Text-Style-2 {
    font-family: "Roboto Light";
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.Text-Style {
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}
